body{
    background-color: antiquewhite;
}.newspaper{
    column-count: 4;
    column-gap: 50px;
    column-rule-style: dashed;
    column-rule-width: 2px;
    column-rule-color: brown;
    margin-top: 70px;
}
h1{
    column-span: all;
    text-align: center;
    margin-top: 20px;
}